CompileFlags:
  CompilationDatabase: "Build"

Diagnostics:
  ClangTidy:
    Remove:
      - misc-const-correctness
      - misc-no-recursion
      - misc-use-anonymous-namespace
      - performance-unnecessary-copy-initialization
      - readability-function-cognitive-complexity
